@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <svg id="dia" style="width:960px;height:500px;">

    </svg>
    <button onclick="BPDiagram('#dia')">Make</button>
</div>
