@model WFM.Models.Store.Plan

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Plan</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Запланировать", "Plan") |
</div>
