/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*  Diagram
---------------------------------------------*/
.tools-panel {
}

.properties-panel {
}

svg {
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    svg:not(.active):not(.nodectl) {
        cursor: crosshair;
    }

g.nodectl{
    cursor: pointer;
}

g.nodectl.start-node circle {
    fill: #fff;
    stroke: #555;
    stroke-width: 2px;
}

g.nodectl.start-node.selected circle {
    fill: #bbb;
    stroke-width: 4px;
}

g.nodectl.end-node circle {
    fill: #fff;
    stroke: #555;
    stroke-width: 2px;
}

g.nodectl.end-node.selected circle {
    fill: #bbb;
    stroke-width: 4px;
}

g.nodectl.action-node rect {
    fill: #fff;
    stroke: #555;
    stroke-width: 2px;
}

g.nodectl.action-node.selected rect {
    fill: #bbb;
    stroke-width: 4px;
}

g.nodectl.event-node rect {
    fill: #fff;
    stroke: #555;
    stroke-width: 2px;
    stroke-dasharray: 6,2;
}

g.nodectl.event-node.selected rect {
    fill: #bbb;
    stroke-width: 4px;
}

text {
    font: 12px Roboto;
    pointer-events: none;
}


path.link {
    fill: none;
    stroke: #888;
    stroke-width: 3px;
    cursor: default;
}

svg path.link {
    cursor: pointer;
}

path.link.selected {
    stroke-width: 4px;
    stroke: #555;
}

path.link.dragline {
    stroke-dasharray: 6,2;
    pointer-events: none;
    stroke: #AAA;
}

path.link.hidden {
    stroke-width: 0;
}
