@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h1 class="h4">Редактирование бизнес-процесса</h1>
    </div>
</div>

<div class="row">
    <svg id="dia"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:xhtml="http://www.w3.org/1999/xhtml"
         style="width:100%;height:700px;border-width:1px;border-color:black;border-style:solid;">
    </svg>
</div>

@section Scripts{
    <script src="~/js/bpdiagram.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            BPDiagram("#dia");
        });
    </script>

}